@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>ClientManagementSystem</h2>
    <p>Clientmangementsystem is a system that allow you manage your Clients, Employees and Projects seemlessly.</p>
</div>

<section class="container">
    <div class="row">
        <div class="col-md-4 text-center">
            <span class="glyphicon glyphicon-user" style="font-size:100px;"></span>
            <h4>Employess</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur accumsan ex at est tincidunt, ac ornare arcu blandit.
                Phasellus rutrum euismod mauris sit amet efficitur.
                Aenean feugiat condimentum ipsum a tempus.
                Curabitur sit amet elementum erat, in porta lectus.
                Aliquam pharetra varius interdum. Maecenas porta elit nisi.
                7Morbi suscipit auctor egestas.
            </p>

        </div>
        <div class="col-md-4 text-center">
            <span class="glyphicon glyphicon-user" style="font-size:100px;"></span>
            <h4>Clients</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur accumsan ex at est tincidunt, ac ornare arcu blandit.
                Phasellus rutrum euismod mauris sit amet efficitur.
                Aenean feugiat condimentum ipsum a tempus.
                Curabitur sit amet elementum erat, in porta lectus.
                Aliquam pharetra varius interdum. Maecenas porta elit nisi.
                7Morbi suscipit auctor egestas.
            </p>

        </div>
        <div class="col-md-4 text-center">
            <span class="glyphicon glyphicon-user" style="font-size:100px;"></span>
            <h4>Projects</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur accumsan ex at est tincidunt, ac ornare arcu blandit.
                Phasellus rutrum euismod mauris sit amet efficitur.
                Aenean feugiat condimentum ipsum a tempus.
                Curabitur sit amet elementum erat, in porta lectus.
                Aliquam pharetra varius interdum. Maecenas porta elit nisi.
                7Morbi suscipit auctor egestas.
            </p>

        </div>
    </div>

</section>
