@{
    ViewBag.Title = "Home Page";
}

<div class="home-index">
    <div class="container text-center">
        <h2>Welcome To ClientManagementSystem</h2>
        <h3>ClientMangementSystem is a system that helps you manage your Clients, Employees and Projects seemlessly.</h3>
    </div>
</div>

<section class="container">
    <h2 class="text-center" style="padding-bottom:30px;text-decoration:underline;">WHAT WE DO</h2>
    <div class="row">
        <div class="col-md-4 text-center">
            <span class="glyphicon glyphicon-user" style="font-size:100px;"></span>
            <h4>Employess</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur accumsan ex at est tincidunt, ac ornare arcu blandit.
                Phasellus rutrum euismod mauris sit amet efficitur.
                Aenean feugiat condimentum ipsum a tempus.
                Curabitur sit amet elementum erat, in porta lectus.
                Aliquam pharetra varius interdum. Maecenas porta elit nisi.
                7Morbi suscipit auctor egestas.
            </p>

        </div>
        <div class="col-md-4 text-center">
            <span class="glyphicon glyphicon-user" style="font-size:100px;"></span>
            <h4>Clients</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur accumsan ex at est tincidunt, ac ornare arcu blandit.
                Phasellus rutrum euismod mauris sit amet efficitur.
                Aenean feugiat condimentum ipsum a tempus.
                Curabitur sit amet elementum erat, in porta lectus.
                Aliquam pharetra varius interdum. Maecenas porta elit nisi.
                7Morbi suscipit auctor egestas.
            </p>

        </div>
        <div class="col-md-4 text-center">
            <span class="glyphicon glyphicon-user" style="font-size:100px;"></span>
            <h4>Projects</h4>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur accumsan ex at est tincidunt, ac ornare arcu blandit.
                Phasellus rutrum euismod mauris sit amet efficitur.
                Aenean feugiat condimentum ipsum a tempus.
                Curabitur sit amet elementum erat, in porta lectus.
                Aliquam pharetra varius interdum. Maecenas porta elit nisi.
                7Morbi suscipit auctor egestas.
            </p>

        </div>
    </div>

</section>
<section class="container text-center">
    <h2 style="padding-bottom:30px;text-decoration:underline;">WHO WE ARE</h2>
    
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Curabitur accumsan ex at est tincidunt, ac ornare arcu blandit.
                Phasellus rutrum euismod mauris sit amet efficitur.
                Aenean feugiat condimentum ipsum a tempus.
                Curabitur sit amet elementum erat, in porta lectus.
                Aliquam pharetra varius interdum. Maecenas porta elit nisi.
                7Morbi suscipit auctor egestas.
            </p>

</section>
