@model ClientManagement.Core.Models.Project


@{
    ViewBag.Title = "AssignProject";
}

<h2>Choose a project</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-md-2">Project Name</label>

            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Title, new SelectList(ViewBag.Projects, "Id", "Description"), "select project", new { @class = "form-control" })
            </div>
        </div>


        <div class="form-group">
            <label class="control-label col-md-2">EmployeeId</label>
            <div class="col-md-10">
                @Html.TextBox("Employee", (Guid)ViewBag.employeeId, new { disabled = "disabled", @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>

        </div>


        }
