
@model IEnumerable<ClientManagement.Core.Models.Project>



@{
    ViewBag.Title = "AssignProject";
}

<h2>Choose a project</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-md-2">Project Name</label>

            <div class="col-md-10">
                <select class="form-control" name="ProjectId">
                    <option>Select A Project</option>
                    @foreach (var project in Model)
                    {
                        <option value="@project.Id">@project.Title</option>
                    }

                </select>
            </div>
        </div>

            <input type="text" name="EmployeeId" hidden value="@ViewBag.employeeId" />
    
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-success btn-block"  />
            </div>
        </div>

        </div>


        }
