@model ClientManagement.Core.Models.Employee

@{
    ViewBag.Title = "Office";
}

<div class="office">
    <h2 class="text-capitalize text-center"> Welcome to your personal Office @Model.Name</h2>

    <div class="row">

        <div class=" col-md-4 col-md-offset-4">
            <h3 class="text-center text-capitalize">what would you like to do today</h3>


            <a href="@Url.Action("Edit", "Employee", new {id=Model.Id})" class="btn btn-warning btn-lg">EditProfile</a>
            <a href="@Url.Action("EmployeeProjects", "Employee", new {id=Model.Id})" class="btn btn-info btn-lg">View Assigned Projects <span class="badge">@Model.Projects.Count</span></a>
        </div>
    </div>
</div>



