<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="EmployeeFilePath" value="C:\Users\Onwuzulike Emeka\Desktop\cleint management\EmployeeRepo.json"/>
    <add key="ClientFilePath" value="C:\Users\Onwuzulike Emeka\Desktop\cleint management\ClientRepo.json"/>
    <add key="ProjectFilePath" value="C:\Users\Onwuzulike Emeka\Desktop\cleint management\ProjectRepo.json"/>
  </appSettings>
</configuration>