@import 'https://fonts.googleapis.com/css?family=Raleway|Roboto';
@import 'https://fonts.googleapis.com/css?family=Shrikhand';
@import 'https://fonts.googleapis.com/css?family=Playfair+Display';
@import 'https://fonts.googleapis.com/css?family=Exo';


body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.edit{
    background-color:#00695c;
    margin-top:-19px;
    height:600px;
    color:white;
    font-family: 'Exo', sans-serif;
}
.edit-form{
   
    padding-top:50px;
}

h2{
    padding-top:50px;
}
.create{
    background-color:#9933CC;
    margin-top:-19px;
    height:600px;
    color:white;
    font-family: 'Exo', sans-serif;
}
.index{
    height:600px;
    font-family:'Raleway'

}
.assignProject{
    background-color:#3E4551;
    margin-top:-19px;
    height:600px;
    color:white;
    font-family: 'Exo', sans-serif;
}
.office{
    background-color:#263238;
    margin-top:-19px;
    height:600px;
    color:white;
    font-family: 'Exo', sans-serif;
}
.home-index{
    background-color:#3F729B;
    color:white;
    height:300px;
   
}
.table{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.displaying{
    font-size: 50px;
    font-family: 'Shrikhand', cursive;
    color: white;

}